body {
    display: grid;
    grid-template-columns: 160px 700px 320px;
    grid-template-rows: 105px 700px 65px;
    grid-template-areas:
    "header header header"
    "left main right"
    "left footer right"
}

/* background: url(../images/backgroundImage.jpg) no-repeat center center fixed; */

#top {
    grid-area: header;
}

#top > h1 {
    margin-left: 28%;
}

#message {
    height: 25px;
    margin-left: 15%;
}

#middle {
    grid-area: main;
}

/* #gameArea {

} */

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
    position: relative;
}

.row {
    display: block;
    height: 30px;
    
}

.hover {
    background-color: #e6e6e6;
}

.imgMine {
    display: block;
    height: 28px;
    width: 28px;
    margin: auto;
}

.imgFlag {
    display: block;
    height: 28px;
    width: 28px;
    margin: auto;   
}

#left {
    grid-area: left;
}

#right {
    grid-area: right;
}

#bottom {
    grid-area: footer;
}