#message {
    height: 25px;
}

.cell {
    box-sizing: border-box;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    display: flex;
    position: absolute;
}

.row {
    display: block;
    /* width: 100%; */
    height: 30px;
}

.hover {
    background-color: #e6e6e6;
}

.imgMine {
    display: block;
    height: 28px;
    width: 28px;
    margin: auto;
}

.imgFlag {
    display: block;
    height: 28px;
    width: 28px;
    margin: auto;   
}